<template>
    <div>


        <svg :class="svgClass" :width="width" :height="height">

            <g style="transform: translate(2px, 2px)">


                <g v-for="cinfo in countries"
                   :key="cinfo.country"
                   @mouseleave="overPoint('reset')"
                >
                    <path :style="{stroke:cinfo.color}"
                          :d="calculatePath(cinfo.list)"
                    />

                    <circle v-for="(point,i) in (cinfo.list)"
                            :key="'c'+i"
                            :style="{fill:cinfo.color}"
                            :cx="scales.x(xconvert(point,i))"
                            :cy="scales.y(yCleanLog(point,dataType))"
                            r="2"
                    />

                    <circle v-for="(point,i) in (cinfo.list)"
                            opacity="0"
                            :key="'cinv'+i"
                            :cx="scales.x(xconvert(point,i))"
                            :cy="scales.y(yCleanLog(point,dataType))"
                            r="7"
                            @mouseover="overPoint(point,i,cinfo.color)"
                    />

                    <rect :x="overpoint.x"
                          :y="overpoint.y-8"
                          :width=" (6+overpoint.text.toString().length) * 4"
                          :height="18"
                    />

                    <text :x="overpoint.x+4"
                          :y="overpoint.y+4"
                          class="overpoint"
                          :style="{fill:overpoint.color}"
                    >
                        {{overpoint.text}}
                    </text>

                </g>

                <g class="axisg"></g>
            </g>
        </svg>

    </div>
</template>

<script>

    import {scaleLinear, scaleLog, scalePow, scaleTime} from 'd3';
    import {axisLeft, axisBottom} from 'd3';
    import {axisRight, axisTop} from 'd3';

    import {select, line} from 'd3';

    select, scaleLinear, scaleLog, scalePow, scaleTime,
        axisLeft, axisRight, axisTop, axisBottom

    export default {
        name: 'MultiCountryChart',
        props: {
            countries: Array,
            scaleType: String,
            dataType: String,
            width: Number,
            height: Number,
            since: Number,
        },
        data() {
            return {
                margin: {
                    x: 5,
                    y: 5,
                },
                svgClass: "svg" + Math.random().toString(36).substring(7),
                overpoint: {
                    x: 0,
                    y: 0,
                    text: "",
                    country: ""
                }
            }
        },
        mounted() {
            this.drawAxis()
        },
        watch: {
            scaleType() {
                this.drawAxis()
            },
            countries() {
                this.drawAxis()
            },
        },
        computed: {
            minmax() {

                let max = {x: 0, y: 0}
                let min = {x: undefined, y: undefined}

                this.countries.forEach(country => {
                    country.list.forEach((item, i) => {

                        let value = item[this.dataType]
                        let dayvalue = this.xconvert(item, i)

                        max.x = max.x < dayvalue ? dayvalue : max.x
                        max.y = max.y < value ? value : max.y

                        if (typeof min.x === "undefined") min.x = dayvalue
                        min.x = min.x > dayvalue ? dayvalue : min.x
                        if (typeof min.y === "undefined") min.y = value
                        min.y = min.y > value ? value : min.y
                        if (min.y <= 1) min.y = 1   // for log scale
                    })
                })

                return {min: min, max: max}
            },

            scales() {

                let scales = {}
                scales.x = parseInt(this.since) > 0 ? scaleLinear() : scaleTime()
                scales.x = scales.x.domain([this.minmax.min.x, this.minmax.max.x])
                    .range([0, this.width - 2 * this.margin.x])

                // !!scaleLog need to start at 1 not 0!!
                scales.y = this.scaleType === 'linear' ? scaleLinear() : scaleLog()
                scales.y = scales.y
                    .domain([this.minmax.min.y, this.minmax.max.y])
                    .range([this.height - 2 * this.margin.y, 1])

                return scales
            },

        },
        methods: {
            // avoid values < min.y (1) for log type
            yCleanLog(point, dataType) {
                if (dataType === 'log' && point[dataType] <= this.minmax.min.y) return this.minmax.min.y
                return point[dataType]
            },
            xconvert(d, i) {
                if (parseInt(this.since) > 0) {
                    return i
                }
                return new Date(d.date)
            },
            overPoint(point, i, color) {
                if (point === 'reset') {
                    this.overpoint = {
                        x: 0, y: 0, text: ""
                    }
                    return
                }

                this.overpoint = {
                    x: this.scales.x(this.xconvert(point, i)),
                    y: this.scales.y(this.yCleanLog(point ,this.dataType)),
                    text: point.date.slice(5, 10) + ": " + point [this.dataType],
                    color: color,
                }
            },
            calculatePath(data) {
                //console.log('datata',data)
                const path = line()
                    .x((d, i) => this.scales.x(this.xconvert(d, i)))
                    .y(d => this.scales.y(d[this.dataType] < 1 ? 1 : d[this.dataType]))

                return path(data)
            },
            drawAxis() {

                let axis = select("." + this.svgClass + "  .axisg")

                axis.selectAll("*").remove()

                axis.append("g")
                    .attr("class", "axis axis--y")
                    .attr("transform", "translate(" + 0 + ", 0)")
                    .call(axisRight(this.scales.y));

                axis.append("g")
                    .attr("class", "axis axis--x")
                    .attr("transform", "translate( 0," + (this.height - this.margin.y / 2) + ")")
                    .call(axisTop(this.scales.x));

            },
        }
    }
</script>


<style lang="sass" scoped>

    path
        fill: none
        stroke: #bf674d
        stroke-width: 1px

</style>

<style>
    .overpoint {
        font-size: 11px;
    }
</style>